
Description:
    - users can make posts against resources
        - other users can post underneath another user's post

    - a resource can have the following categories: movie or tv show

    - a post can have the following types: racism, sexism, lgbtq-phobic. The user can also provide a post scrore between 1-5, meaning 5 is very racist etc.


Tech stack (for now):
    Spring REST, Spring Data, Postgres DB


Tables:
Note, all tables will have a JSON column type, so I can dump extra data in there (if need be).

   - user
        id, columns: id, username, email, first_name, last_name, data(json type), created_at, updated_at
   - resource
        id, columns: id, name, display_name, data(json type), created_at, updated_at
   - resourceCategory
        id, resourceName, data(json type)
   - post
        id, user_text,
   - postType
        id, name (For now, can be either racism, sexism, lgbtq-phobic)

   - users_posts
        id, user_id, post_type_id, parent_user_posts_id, post_score, text, data(json type)



Excerpt of IMDB data:

tconst	titleType	primaryTitle	originalTitle	isAdult	startYear	endYear	runtimeMinutes	genres
tt0000001	short	Carmencita	Carmencita	0	1894	\N	1	Documentary,Short
tt0000002	short	Le clown et ses chiens	Le clown et ses chiens	0	1892	\N	5	Animation,Short
tt0000003	short	Poor Pierrot	Pauvre Pierrot	0	1892	\N	5	Animation,Comedy,Romance


